@model IEnumerable<CasaShow.Models.Carrinho>

@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    float Total = 0;
}
<div class="container">
<div class="row col-12 align-items-start pt-5" >
    <div class="pt-5 col-12">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Evento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Evento.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @String.Format("R$ {0:0.00}", item.Preco).Replace(".", ",")
                    @{
                        Total += item.Preco;
                    }
                </td>
                <td class="d-flex">
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Editar" class="btn btn-light py-1 px-2" role="button"><i class="fas fa-pen-square text-secondary"></i></a> 
                    <form asp-action="Delete" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-light py-1 px-2" ><i class="fas fa-trash text-danger"></i></button> 
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <table class="table">
        <thead class="text-right">
            <tr>
                <td>
                    <b>Total:</b> @String.Format("R$ {0:0.00}", Total).Replace(".", ",")
                </td>
            </tr>
        </thead>
    </table>
    </div>
</div>
</div>
