@model ProjetoTeste.Models.CasaDeShow

@{
    ViewData["Title"] = "Details";
}

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto col-6 bg-light p-5">
        <h4 class="text-center">Detalhes</h4>
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Endereco)
            </dd>
        </dl>
        <div class="section-secondary">
            <a asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-pen-square"></i> Editar</a> |
            <a asp-action="Index"><i class="fas fa-chevron-circle-left"></i> Voltar</a>
        </div>        
      </div>
    </div>
</header>
