@model IEnumerable<ProjetoTeste.Models.CasaDeShow>

@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}
<div class="row col-12 align-items-start pt-5" >
    <div class="pt-5 col-12">
        <p><a asp-action="Create"><i class="fas fa-plus-square"></i> Adicionar</a></p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Endereco)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pen-square"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>