@model CasaShow.DTO.EventoDTO

@{
    ViewData["Title"] = "Create";
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<section>
    <div class="row div-size align-items-center mx-0 py-5">
      <div class="mx-auto col-8 col-lg-4">
        <h4 class="text-center">Evento</h4>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control"  />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacidade" class="control-label"></label>
                <input asp-for="Capacidade" class="form-control"  />
                <span asp-validation-for="Capacidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control"  min="@ViewBag.Data" max="2099-12-31T23:59" value="@ViewBag.Data"  />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorIngresso" class="control-label"></label>
                <input asp-for="ValorIngresso" type="number" step="0.01" class="form-control"  />
                <span asp-validation-for="ValorIngresso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CasaShowId" class="control-label"></label>
                <select asp-for="CasaShowId" asp-items='@(new SelectList(@ViewBag.CasaShow, "Id", "Nome"))' class="form-control" ></select>
                <span asp-validation-for="CasaShowId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" asp-items='@(new SelectList(@ViewBag.Categorias, "Id", "Nome"))' class="form-control" ></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input type="file" class="form-control-file" asp-for="Imagem" name="files" accept="image/png, image/jpg, image/jpeg"  >
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Salvar" class="btn btn-dark btn-lg" />
            </div>
        </form>
        <div class="hover-white">
            <a asp-action="Index"><i class="fas fa-chevron-circle-left"></i> Voltar</a>
        </div>
      </div>
    </div>
</section>

