@model IEnumerable<ProjetoTeste.Models.Evento>

@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}
<div class="row col-12 align-items-start pt-5" >
    <div class="pt-5 col-12">
        <p><a asp-action="Create"><i class="fas fa-plus-square"></i> Adicionar</a></p>
        @if (Model.Count() != 0) {
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Imagem)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Capacidade)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Data)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ValorIngresso)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CasaShow)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Categoria)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                            <tr class="centralizar">
                                <td>
                                    <img src="@item.Imagem" class = "img-fluid" style="width: 200px; height: 200px;">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @String.Format("{0:N0}", item.Capacidade).Replace(",",".")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Data)
                                </td>
                                <td>
                                    @String.Format("R$ {0:0.00}", item.ValorIngresso).Replace(".",",")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CasaShow.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="fas fa-pen-square text-secondary"></i></a> <i class="fas fa-grip-lines-vertical"></i>
                                    <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes"><i class="fas fa-info-circle text-info"></i></a> <i class="fas fa-grip-lines-vertical"></i>
                                    <a href="#deleteModal" class="delete" data-toggle="modal" data-id="@item.Id" title="Apagar"><i class="fas fa-trash text-danger" data-toggle="tooltip" title="Delete"></i></a>
                                    <!-- Delete Modal HTML -->
                                    <div id="deleteModal" class="modal fade">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content text-center">            
                                                <div class="modal-header">                      
                                                    <h4 class="modal-title">Excluir Evento</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                </div>
                                                <div class="modal-body">                    
                                                    <h5>Tem certeza que deseja deletar esse evento?</h5>
                                                    <h5 class="text-danger"><small>Essa ação é irreversível!</small></h5>
                                                </div>
                                                <div class="modal-footer">
                                                    <form asp-action="Delete" asp-route-id="@item.Id">
                                                        <input type="submit" value="Excluir" class="btn btn-danger p-2" /> 
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Modal -->
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        } else {
            <div class="row">
                <div class="col-12">
                    <h2 class="text-danger">Não há eventos cadastrados</h2>
                    <h2 class="text-danger">@TempData["Erro"]</h2>
                </div>
            </div>
        }
    </div>
</div>

